In [1]:
# Librerias, archivos y configuración

import warnings
import pandas as pd
import time
import mysql.connector as conn
from sqlalchemy import create_engine

import funciones

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Si se quisiera que la función se repitiese sola cada hora para tener la base de datos actualizada, habría que hacer lo siguiente

```python
while 1:

    try: 

        # Se llama a la función que retorna un df

        scrapping = funciones.scrapping()

        time.sleep(3600)

        # MySQL connect

        str_conn = 'mysql+pymysql://root:password@localhost:3306/contaminacion_madrid'
        cursor = create_engine(str_conn)

        # Importar los datos a SQL

        scrapping.to_sql(name='Datos_nuevos', con=cursor, if_exists='append', index=False)

    except: print('Error, probablemete algo ha cambiado en página web')
```

In [2]:
# Se llama a la función que retorna un df

scrapping = funciones.scrapping()

In [3]:
scrapping.head()

   estacion  magnitud  unidad_medida   ano  mes  dia  hora  valor
0         4         8              1  2023    2   11    13   17.0
1         4         1              1  2023    2   11    13    1.0
2         4         6              1  2023    2   11    13  400.0
3         8        14              1  2023    2   11    13   72.0
4         8         8              1  2023    2   11    13   24.0

In [4]:
scrapping.shape

(61, 8)

In [5]:
scrapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   estacion       61 non-null     int64
 1   magnitud       61 non-null     int64
 2   unidad_medida  61 non-null     int64
 3   ano            61 non-null     int64
 4   mes            61 non-null     int64
 5   dia            61 non-null     int64
 6   hora           61 non-null     int64
 7   valor          61 non-null     float64
dtypes: float64(1), int64(7)
memory usage: 3.9 KB

In [6]:
# MySQL connect

str_conn = 'mysql+pymysql://root:password@localhost:3306/contaminacion_madrid'
cursor = create_engine(str_conn)

# Importar los datos a SQL

scrapping.to_sql(name='Datos_nuevos', con=cursor, if_exists='append', index=False)

61